ngx-scrollbar {
    position: relative;
}

ngx-scrollbar::ng-deep .scroll-view {
    position: relative;
}

ngx-scrollbar::ng-deep .scroll-view::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    /* Height of the fade effect */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}