<div class="px-3 pt-3">
    <div class="version-item pb-3 border-b border-gray-400">
        <span class="version-name text-base font-semibold mb-2.5 block">Original</span>
        @for(y of original;track y){
        <p class="text-xs mb-1">line-{{y.oL}} &nbsp;page-{{y.oP}} &nbsp; {{y.t}} &nbsp; {{y.text}}</p>
        }
    </div>
</div>


<div class="px-3">
    @for(x of versions;track x.nRefresh){
    <div class="version-item border-b border-gray-400 py-3 last:border-b-0">
        <span class="version-name text-base font-semibold mb-2.5 block">Refresh - {{x.nRefresh}}</span>
        @for(y of x.versions;track y){
        <p class="text-xs mb-1">line-{{y.oL}} &nbsp;page-{{y.oP}} &nbsp; {{y.t}} &nbsp; {{y.text}}</p>
        }
    </div>
    }
</div>