<div class="bg-white p-10">
        <svg class="mb-2.5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" viewBox="0 0 20 20">

                <!-- instruction -->
                <path fill="#F85656" *ngIf="data.type=='I'"
                        d="M10 20a10 10 0 1 0 0-20 10 10 0 0 0 0 20Zm-1.5-5.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm.516-9.68a1 1 0 0 1 1.968 0L11 5v5l-.016.18a1 1 0 0 1-1.968 0L9 10V5l.016-.18Z" />
                <!-- Error -->
                <path fill="#F85656" *ngIf="data.type=='E'"
                        d="M10 20a10 10 0 1 0 0-20 10 10 0 0 0 0 20Zm-1.5-5.5a1.5 1.5 0 1 1 3 0 1.5 1.5 0 0 1-3 0Zm.516-9.68a1 1 0 0 1 1.968 0L11 5v5l-.016.18a1 1 0 0 1-1.968 0L9 10V5l.016-.18Z" />
                <!-- stop -->
                <g *ngIf="data.type=='S'">
                        <path fill="#4B4D52" d="M5.856 0 0 5.856v8.288L5.856 20h8.288L20 14.144V5.856L14.144 0" />
                        <path fill="#fff" fill-rule="evenodd"
                                d="M13.794 6.723a1 1 0 0 1 0 1.414l-2.121 2.122 2.121 2.12a1 1 0 0 1-1.414 1.415l-2.121-2.121-2.122 2.121a1 1 0 0 1-1.414-1.414l2.122-2.121-2.122-2.122a1 1 0 1 1 1.414-1.414l2.122 2.121 2.121-2.121a1 1 0 0 1 1.414 0Z"
                                clip-rule="evenodd" />
                </g>

        </svg>
        <h6 class="text-lg font-semibold mb-1" [ngClass]="{'text-sred': data.type=='E','text-sgreen': data.type=='I'}">
                {{data.heading}}</h6>
        <h6 class="text-xs">{{data.desc}}</h6>
        <div class="flex gap-3 mt-6 items-center">
                <btn (click)="close(data.bt1res)">{{data.button1}}</btn>
                <btn mode="white" *ngIf="data.button2" (click)="close(data.bt2res)">{{data.button2}}</btn>
                <mat-checkbox>Don’t show this again.</mat-checkbox>
        </div>
</div>