<div class="rightfloaticons " style="width: 84px;margin-left: auto;height: 100%;">
        <hr style="height: 100%;">
        <hr id="verticalHR">
        <div class="twobubblewrapper mr-2.5 !pointer-events-auto"
                [style]="{'box-shadow': isActive?'rgb(0 103 255 / 50%) 0px 0px 10px':''}">
                <div id="pdficons" icon-type="F" class="icons">
                        <icon name="Qfact" type="extra" /><b class="num-counts">
                                <!-- <a class="onlynumcounts"
                                        style="display: inline;">{{issueCount}}
                                </a> -->
                       <input type="text" class="onlynumcounts w-3 bg-transparent text-center" [value]="issueCount">
                        </b>
                </div>
        </div>
</div>